.main {
    display: grid;
    grid-template-areas:
            "header"
            "main";
    grid-template-rows: 50px 1fr;
    grid-gap: 10px;
    margin: 0;
}

.container {
    display: flex;
    grid-area: main;
}

@media (max-width: 900px) {
    .container {
        display: block;
    }
}